<link rel="stylesheet" href="~/css/whiteBg.css" />
@model Sportswear.Models.Product


<nav aria-label="breadcrumb">
    <ol class="breadcrumb px-5">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="ViewProduct">Products</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Name)</li>
    </ol>
</nav>



<div class="container mt-5">
    <div class="row h-600">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="@Html.DisplayFor(model => model.ImageURL)"
                 alt="@Html.DisplayFor(model => model.Name)"
                 class="product-image img-responsive fit-image" />
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 p-5">

            <div class="row view-pdname">
                <div class="col-lg-12 col-md-12 col-sm-12 py-3">
                    <h1>@Html.DisplayFor(model => model.Name)</h1>
                </div>
            </div>

            <div class="row view-pdcat">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span class="monospaced"> @Html.DisplayFor(model => model.Category)</span>
                </div>
            </div>

            <div class="row view-pdcat-desc">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p class="description">
                        @Html.DisplayFor(model => model.Description)
                    </p>
                </div>
            </div>

            <div class="row view-pdprice py-3">
                <div class="col-lg-12 col-md-12 col-sm-12 bottom-rule">
                    <h2 class="product-price">RM @Html.DisplayFor(model => model.Price)</h2>
                </div>
            </div>

            <div class="row add-to-cart view-pdtocart py-5">
                <div class="col-lg-5 col-md-5 col-sm-5 product-qty">

                    <input type="text" id="quantity" name="quantity" class="black-border btn-qty text-center" value="@(ViewBag.quantity ?? String.Empty)" />
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 mt-0">
                    <form>
                        <button class="btn black-border btn-lg btn-brand btn-full-width" asp-action="addToCart">
                            Add to Cart
                        </button>
                    </form>

                </div>
                @if (ViewBag.message != null)
                {
                    <div> @ViewBag.message </div>
                }
            </div>
        </div>
    </div>
</div>