<link rel="stylesheet" href="~/css/whiteBg.css" />
@model Sportswear.Models.Product


<nav aria-label="breadcrumb">
    <ol class="breadcrumb px-5">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="ViewProduct">Products</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Name)</li>
    </ol>
</nav>



<div class="container mt-5">
    <div class="row">

        <div class="col-6">
            <img src="@Html.DisplayFor(model => model.ImageURL)"
                 alt="@Html.DisplayFor(model => model.Name)"
                 class="product-image" />
        </div>


        <div class="col-6">

            <div class="row view-pdname">
                <div class="col-12">
                    <h1>@Html.DisplayFor(model => model.Name)</h1>
                </div>
            </div>

            <div class="row view-pdcat">
                <div class="col-12">
                    <span class="monospaced"> @Html.DisplayFor(model => model.Category)</span>
                </div>
            </div>

            <div class="row view-pdcat-desc">
                <div class="col-12">
                    <p class="description">
                        @Html.DisplayFor(model => model.Description)
                    </p>
                </div>
            </div>
            <!-- rating , enalble if needed-->
            <!--
               <div class="row">
                    <div class="col-md-3">
                         <span class="sr-only">Four out of Five Stars</span>
                         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                         <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                         <span class="label label-success">Rating Count</span>
                    </div>
                    <div class="col-3">
                       <span class="monospaced">Write a Review</span>
                    </div>
               </div>
            -->
            <div class="row view-pdprice">
                <div class="col-12 bottom-rule">
                    <h2 class="product-price">@Html.DisplayFor(model => model.Price)</h2>
                </div>
            </div>

            <div class="row add-to-cart view-pdtocart">
                <div class="col-5 product-qty">
                    <span class="btn btn-default btn-lg btn-qty no-border" asp-route-minus="manageQuantity">
                        <svg width="18" height="18" viewBox="0 0 24 24">
                            <path d="M0 10h24v4h-24z" />
                        </svg>
                    </span>
                    <input class="black-border btn-qty text-center" value="@ViewBag.quantity" />
                    <span class="btn btn-default btn-lg btn-qty no-border" asp-route-add="manageQuantity">
                        <svg width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </span>
                </div>

                <div class="col-4">
                    <button class="btn black-border btn-lg btn-brand btn-full-width" asp-action="addToCart">
                        Add to Cart
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-4 text-center">
                    <span class="monospaced">In Stock</span>
                </div>
            </div>

        </div>
    </div>
</div>
